body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #F6F4F2;
}

    body.dark-mode {
        background: #191919;
    }

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "title title title title title title"
        "sidebar main main main content1 content1"
        "sidebar main main main content2 content2"
        "sidebar main main main content3 content3"
        "sidebar main main main content4 content4"
        "sidebar main main main footer footer";
    /*layout*/
    background: #F6F4F2;
    grid-area: content;
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: #F6F4F2;
    text-align: center;
}
    #container.dark-mode {
        background: #191919;
    }

#title {
    /*spacing of title*/
    margin: 2px;
    background: #F6F4F2;
    grid-area: title;
    justify-content: center;
    border: 2px solid black;
    border-style: hidden;
}

    #title.dark-mode {
        background-color: #191919;
        color: #FAB162;
    }

        #title.dark-mode #GeoUk {
            /*This is for the colour of the font only, IDK why*/
            color: #FAB162;
        }
/*insisde the title box*/
#GeoUk {
    text-align: center;
    margin: 10px;
    font-size: 48px;
    color: #425664;
}


    /**
        The slider needs an area for the title, the top and bottom date
        Then the current date needs to be added, the value the slider is on
        Then add top and bottom notches.
    */
#sidebar {
    background-color: #425664;
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

    #sidebar.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }
     
#slidecontainer {
    width: 100%; /*Width and height of the slider boundaries*/
    height: 90%;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#slidertitle{
    height: 2%;
    margin-bottom:2px;
}
#slidertop {
    height: 3%;
}
 /*The slider in question*/
#yearslider {
    width: 100%;
    height: 100%;
   
}
 /*# for id . for class*/
#yearslider {
    -webkit-appearance: none; /*Overwrites default CSS design*/
    appearance: none;
    width: 70vh; /*This is height because of the transformation*/
    height: 10px; /*This is width because of the transformation*/
    margin: 0 auto;
    background: #F6F4F2;
   /*outline: 2px solid red;*/
    opacity: 0.7; /* Set transparency to change when hovering over, *interactive**/
    -webkit-transition: .2;
    transition: opacity .2s;
    transform: rotate(-90deg); /*Have the slide vertically, this can be swapped to 270 if it's upside down.*/
    position: absolute;
    border-radius: 3px;
}

    #yearslider.dark-mode {
        background-color: #F6F4F2;
    }

#sliderlabel {
    position: relative;

    left: 30%;
    top: 0;
}

#yearslider:hover{
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#yearslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 20px;
    background: #FAB162;
    cursor: pointer;
    border-radius: 4px;
}
    #yearslider::-webkit-slider-thumb.dark-mode {
        border-color: white;
        background: #FAB162;
    }

#yearslider::-moz-range-thumb {
    width: 15px;
    height: 10px;
    cursor: pointer;
}
#sliderbottom {
    height: 2%;
}

main {
    background: #F6F4F2;
    grid-area: main;
    color: #425664;
}

    main.dark-mode {
        background-color: #191919;
        color: #FAB162;
    }

#content1 {
    background: #425664;
    grid-area: content1;
    border: 2px solid black;
    margin: 2px;
}

    #content1.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }

#content2 {
    background: #425664;
    grid-area: content2;
    border: 2px solid black;
    margin: 2px;
}

    #content2.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }

#content3 {
    background: #425664;
    grid-area: content3;
    border: 2px solid black;
    margin: 2px;
}

    #content3.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }

#content4 {
    background: #425664;
    grid-area: content4;
    border: 2px solid black;
    margin: 2px;
}

#content4.dark-mode {
    background-color: #191919;
    color: #FAB162;
    border-color: #FAB162;
}

footer {
    background: #425664;
    grid-area: footer;
    border: 2px solid black;
    margin: 2px;
    text-align: left;
}

footer.dark-mode {
    background-color: #191919;
    color: #FAB162;
    border-color: #FAB162;
}
/*Menu stylings*/

/*Get the buttons, and navbar working, there is a lot of nesting, new classes need to be made
  There is a good chance that the button will need to be removed, and replaced with a interactive 
  text area that has a hover value and takes the user to different sub-websites.
*/
.menu {
    background: #425664;
    padding: 2px;
    font-family:'Comic Sans MS', 'Sans Serif Collection'; 
}
    .menu.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }
.menu a{
    color: red;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
}

.button-box {
    /*Dimensions*/
    width: 20px;
    height: 20px;
    background: #F6F5F2;
    border-style: solid;
    border-color: #000;
    border-radius: 6px;
    overflow: hidden;
}
#navbar {
    background-color: #425664;
    border: solid black;
    /*To get the button and items in line*/
    display: flex;
    justify-content: center;
    align-items: center;
}
    #navbar.dark-mode {
        background-color: #191919;
        color: #FAB162;
        border-color: #FAB162;
    }

#navbar-toggle{
    width: 90%;
    height: 90%;
}
    #navbar-toggle.dark-mode {
    }
.navbar-nav {
    background-color: #425664;
}
    .navbar-nav.dark-mode {
        background-color: #191919;
        color: #FAB162;
    }
.nav-item{

}
    .nav-item.dark-mode {
    }
/*dimensions and values of inner circle*/
.sun {
    width: 9px;
    height: 9px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
}
    /*Beams of "light"*/
    .sun div {
        height: 1px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: width 0.5s;
    }

    .sun .line1 {
        width: 17px;
        transform: translate(-50%, -50%);
    }

    .sun .line2 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .sun .line3 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .sun .line4 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    /*after being clicked, turns to a moon*/
    .sun::after {
        content: '';
        width: 9px;
        height: 9px;
        background: #F6F5F2;
        border-radius: 50%;
        position: absolute;
        bottom: 9px;
        left: 9px;
        transition: 0.5s;
    }
    /*moon is formed by moving another circle over it*/
    .sun.night::after {
        bottom: 3px;
        left: 3px;
    }
    /*gets rid of light beams*/
    .sun.night div {
        width: 0;
    }

footer.dark-mode {
    background-color: #191919;
    color: #FAB162;
    border-color: #FAB162;
}

.button-box {
    /*Dimensions*/
    width: 20px;
    height: 20px;
    background: #F6F5F2;
    border-style: solid;
    border-color: #000;
    border-radius: 6px;
    /*positioning*/
    float: right;
    /*misc*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/*dimensions and values of inner circle*/
.sun {
    width: 9px;
    height: 9px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
}
    /*Beams of "light"*/
    .sun div {
        height: 1px;
        background: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: width 0.5s;
    }

    .sun .line1 {
        width: 17px;
        transform: translate(-50%, -50%);
    }

    .sun .line2 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .sun .line3 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(135deg);
    }

    .sun .line4 {
        width: 17px;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    /*after being clicked, turns to a moon*/
    .sun::after {
        content: '';
        width: 9px;
        height: 9px;
        background: #F6F5F2;
        border-radius: 50%;
        position: absolute;
        bottom: 9px;
        left: 9px;
        transition: 0.5s;
    }
    /*moon is formed by moving another circle over it*/
    .sun.night::after {
        bottom: 3px;
        left: 3px;
    }
    /*gets rid of light beams*/
    .sun.night div {
        width: 0;
    }


footer.dark-mode {
    background-color: #191919;
    color: #FAB162;
    border-color: #FAB162;
}

.button-box {
    /*Dimensions*/
    width: 20px;
    height: 20px;
    background: #F6F5F2;
    border-style: solid;
    border-color: #000;
    border-radius: 6px;
    /*positioning*/
    float: right;
    /*misc*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/** Tarteels CSS attributes */
.navbar {
    margin: auto;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000080;
}

    .navbar a {
        float: none;
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #1ba098;
    }

.dropdown-menu a {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: #000080;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}