.container {
    display: grid;
    height: 100vh; /*hieght view*/
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "title title title title title title"
        "sidebar main main main content1 content1"
        "sidebar main main main content2 content2"
        "sidebar main main main content3 content3"
        "sidebar main main main content4 content4";
    "footer" grid-gap:0.2rem;
}

#title {
    background: #F6F4F2;
    grid-area: title;
    justify-content: center;
    border: 2px solid black;
    margin: 2px;
}

main {
    background: #F6F4F2;
    grid-area: main;
    justify-content: center;
    align-items: center;
}

.container {
    background: #F6F4F2;
    grid-area: content;
    border: 2px solid black;
}

#sidebar {
    background: #F6F4F2;
    grid-area: sidebar;
    border: 2px solid black;
    margin: 2px;
}

#content1 {
    background: #F6F4F2;
    grid-area: content1;
    border: 2px solid black;
    margin: 2px;
}

#content2 {
    background: #F6F4F2;
    grid-area: content2;
    border: 2px solid black;
    margin: 2px;
}

#content3 {
    background: #F6F4F2;
    grid-area: content3;
    border: 2px solid black;
    margin: 2px;
}

#content4 {
    background: #F6F4F2;
    grid-area: content4;
    border: 2px solid black;
    margin: 2px;
}

footer {
    background: #F6F5F2;
    grid-area: footer;
    border: 2px solid black;
    margin: 2px;
}

body {
    margin: 0;


}
